@font-face {
    font-family: 'GT Walsheim Pro Light';
    src: url('./Fonts/GTWalsheimPro-Light.eot');
    src: local('GT Walsheim Pro Light'), local('./Fonts/GTWalsheimPro-Light'),
        url('./Fonts/GTWalsheimPro-Light.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-Light.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-Light.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Regular';
    src: url('./Fonts/GTWalsheimPro-Regular.eot');
    src: local('GT Walsheim Pro Regular'), local('./Fonts/GTWalsheimPro-Regular'),
        url('./Fonts/GTWalsheimPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-Regular.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-Regular.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Thin Oblique';
    src: url('./Fonts/GTWalsheimPro-ThinOblique.eot');
    src: local('./Fonts/GT Walsheim Pro Thin Oblique'), local('./Fonts/GTWalsheimPro-ThinOblique'),
        url('./Fonts/GTWalsheimPro-ThinOblique.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-ThinOblique.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-ThinOblique.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-ThinOblique.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro Thin';
    src: url('./Fonts/GTWalsheimPro-Thin.eot');
    src: local('./Fonts/GT Walsheim Pro Thin'), local('./Fonts/GTWalsheimPro-Thin'),
        url('./Fonts/GTWalsheimPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-Thin.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-Thin.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Bold Oblique';
    src: url('./Fonts/GTWalsheimPro-BoldOblique.eot');
    src: local('./Fonts/GT Walsheim Pro Bold Oblique'), local('./Fonts/GTWalsheimPro-BoldOblique'),
        url('./Fonts/GTWalsheimPro-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-BoldOblique.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-BoldOblique.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro Ultra Bold';
    src: url('./Fonts/GTWalsheimPro-UltraBold.eot');
    src: local('./Fonts/GT Walsheim Pro Ultra Bold'), local('./Fonts/GTWalsheimPro-UltraBold'),
        url('./Fonts/GTWalsheimPro-UltraBold.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-UltraBold.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-UltraBold.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-UltraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Ultra Bold Oblique';
    src: url('./Fonts/GTWalsheimPro-UltraBoldOblique.eot');
    src: local('./Fonts/GT Walsheim Pro Ultra Bold Oblique'), local('./Fonts/GTWalsheimPro-UltraBoldOblique'),
        url('./Fonts/GTWalsheimPro-UltraBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-UltraBoldOblique.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-UltraBoldOblique.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-UltraBoldOblique.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro Medium Oblique';
    src: url('./Fonts/GTWalsheimPro-MediumOblique.eot');
    src: local('./Fonts/GT Walsheim Pro Medium Oblique'), local('./Fonts/GTWalsheimPro-MediumOblique'),
        url('./Fonts/GTWalsheimPro-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-MediumOblique.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-MediumOblique.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-MediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro Bold';
    src: url('./Fonts/GTWalsheimPro-Bold.eot');
    src: local('GT Walsheim Pro Bold'), local('./Fonts/GTWalsheimPro-Bold'),
        url('./Fonts/GTWalsheimPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-Bold.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-Bold.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Medium';
    src: url('./Fonts/GTWalsheimPro-Medium.eot');
    src: local('./Fonts/GT Walsheim Pro Medium'), local('./Fonts/GTWalsheimPro-Medium'),
        url('./Fonts/GTWalsheimPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-Medium.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-Medium.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Regular Oblique';
    src: url('./Fonts/GTWalsheimPro-RegularOblique.eot');
    src: local('./Fonts/GT Walsheim Pro Regular Oblique'), local('./Fonts/GTWalsheimPro-RegularOblique'),
        url('./Fonts/GTWalsheimPro-RegularOblique.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-RegularOblique.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-RegularOblique.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-RegularOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro Light Oblique';
    src: url('./Fonts/GTWalsheimPro-LightOblique.eot');
    src: local('./Fonts/GT Walsheim Pro Light Oblique'), local('./Fonts/GTWalsheimPro-LightOblique'),
        url('./Fonts/GTWalsheimPro-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-LightOblique.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-LightOblique.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro Ultra Light';
    src: url('./Fonts/GTWalsheimPro-UltraLight.eot');
    src: local('./Fonts/GT Walsheim Pro Ultra Light'), local('./Fonts/GTWalsheimPro-UltraLight'),
        url('./Fonts/GTWalsheimPro-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-UltraLight.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-UltraLight.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Ultra Light Oblique';
    src: url('./Fonts/GTWalsheimPro-UltraLightOblique.eot');
    src: local('./Fonts/GT Walsheim Pro Ultra Light Oblique'), local('./Fonts/GTWalsheimPro-UltraLightOblique'),
        url('./Fonts/GTWalsheimPro-UltraLightOblique.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-UltraLightOblique.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-UltraLightOblique.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-UltraLightOblique.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro Black Oblique';
    src: url('./Fonts/GTWalsheimPro-BlackOblique.eot');
    src: local('./Fonts/GT Walsheim Pro Black Oblique'), local('./Fonts/GTWalsheimPro-BlackOblique'),
        url('./Fonts/GTWalsheimPro-BlackOblique.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-BlackOblique.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-BlackOblique.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-BlackOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro Black';
    src: url('./Fonts/GTWalsheimPro-Black.eot');
    src: local('GT Walsheim Pro Black'), local('./Fonts/GTWalsheimPro-Black'),
        url('./Fonts/GTWalsheimPro-Black.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-Black.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-Black.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Cond Ultra Bold';
    src: url('./Fonts/GTWalsheimPro-CondensedUltraBold.eot');
    src: local('./Fonts/GT Walsheim Pro Condensed Ultra Bold'), local('./Fonts/GTWalsheimPro-CondensedUltraBold'),
        url('./Fonts/GTWalsheimPro-CondensedUltraBold.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-CondensedUltraBold.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-CondensedUltraBold.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-CondensedUltraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed Light';
    src: url('./Fonts/GTWalsheimPro-CondensedLight.eot');
    src: local('./Fonts/GT Walsheim Pro Condensed Light'), local('./Fonts/GTWalsheimPro-CondensedLight'),
        url('./Fonts/GTWalsheimPro-CondensedLight.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-CondensedLight.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-CondensedLight.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-CondensedLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed Bold Oblique';
    src: url('./Fonts/GTWalsheimPro-CondensedBoldOblique.eot');
    src: local('GT Walsheim Pro Condensed Bold Oblique'), local('./Fonts/GTWalsheimPro-CondensedBoldOblique'),
        url('./Fonts/GTWalsheimPro-CondensedBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-CondensedBoldOblique.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-CondensedBoldOblique.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-CondensedBoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed Light Oblique';
    src: url('./Fonts/GTWalsheimPro-CondensedLightOblique.eot');
    src: local('./Fonts/GT Walsheim Pro Condensed Light Oblique'), local('./Fonts/GTWalsheimPro-CondensedLightOblique'),
        url('./Fonts/GTWalsheimPro-CondensedLightOblique.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-CondensedLightOblique.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-CondensedLightOblique.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-CondensedLightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed Thin';
    src: url('./Fonts/GTWalsheimPro-CondensedThin.eot');
    src: local('./Fonts/GT Walsheim Pro Condensed Thin'), local('./Fonts/GTWalsheimPro-CondensedThin'),
        url('./Fonts/GTWalsheimPro-CondensedThin.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-CondensedThin.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-CondensedThin.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-CondensedThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'GTWalsheimPro-Condensed Ultra Light Oblique';
    src: url('./Fonts/GTWalsheimPro-CondensedUltraLightOblique.eot');
    src: local('./Fonts/GT Walsheim Pro Condensed Ultra Light Oblique'), local('./Fonts/GTWalsheimPro-CondensedUltraLightOblique'),
        url('./Fonts/GTWalsheimPro-CondensedUltraLightOblique.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-CondensedUltraLightOblique.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-CondensedUltraLightOblique.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-CondensedUltraLightOblique.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed Medium';
    src: url('./Fonts/GTWalsheimPro-CondensedMedium.eot');
    src: local('./Fonts/GT Walsheim Pro Condensed Medium'), local('./Fonts/GTWalsheimPro-CondensedMedium'),
        url('./Fonts/GTWalsheimPro-CondensedMedium.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-CondensedMedium.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-CondensedMedium.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-CondensedMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed Black Oblique';
    src: url('./Fonts/GTWalsheimPro-CondensedBlackOblique.eot');
    src: local('./Fonts/GT Walsheim Pro Condensed Black Oblique'), local('./Fonts/GTWalsheimPro-CondensedBlackOblique'),
        url('./Fonts/GTWalsheimPro-CondensedBlackOblique.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-CondensedBlackOblique.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-CondensedBlackOblique.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-CondensedBlackOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed Regular';
    src: url('./Fonts/GTWalsheimPro-CondensedRegular.eot');
    src: local('./Fonts/GT Walsheim Pro Condensed Regular'), local('./Fonts/GTWalsheimPro-CondensedRegular'),
        url('./Fonts/GTWalsheimPro-CondensedRegular.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-CondensedRegular.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-CondensedRegular.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-CondensedRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed Thin Oblique';
    src: url('./Fonts/GTWalsheimPro-CondensedThinOblique.eot');
    src: local('./Fonts/GT Walsheim Pro Condensed Thin Oblique'), local('./Fonts/GTWalsheimPro-CondensedThinOblique'),
        url('./Fonts/GTWalsheimPro-CondensedThinOblique.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-CondensedThinOblique.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-CondensedThinOblique.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-CondensedThinOblique.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed Bold';
    src: url('./Fonts/GTWalsheimPro-CondensedBold.eot');
    src: local('./Fonts/GT Walsheim Pro Condensed Bold'), local('./Fonts/GTWalsheimPro-CondensedBold'),
        url('./Fonts/GTWalsheimPro-CondensedBold.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-CondensedBold.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-CondensedBold.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-CondensedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed Regular Oblique';
    src: url('./Fonts/GTWalsheimPro-CondensedRegularOblique.eot');
    src: local('./Fonts/GT Walsheim Pro Condensed Regular Oblique'), local('./Fonts/GTWalsheimPro-CondensedRegularOblique'),
        url('./Fonts/GTWalsheimPro-CondensedRegularOblique.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-CondensedRegularOblique.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-CondensedRegularOblique.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-CondensedRegularOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GTWalsheimPro-Condensed Ultra Light';
    src: url('./Fonts/GTWalsheimPro-CondensedUltraLight.eot');
    src: local('./Fonts/GT Walsheim Pro Condensed Ultra Light'), local('./Fonts/GTWalsheimPro-CondensedUltraLight'),
        url('./Fonts/GTWalsheimPro-CondensedUltraLight.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-CondensedUltraLight.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-CondensedUltraLight.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-CondensedUltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Cond Ultra Bold Oblique';
    src: url('./Fonts/GTWalsheimPro-CondensedUltraBoldOblique.eot');
    src: local('./Fonts/GT Walsheim Pro Condensed Ultra Bold Oblique'), local('./Fonts/GTWalsheimPro-CondensedUltraBoldOblique'),
        url('./Fonts/GTWalsheimPro-CondensedUltraBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-CondensedUltraBoldOblique.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-CondensedUltraBoldOblique.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-CondensedUltraBoldOblique.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro Cond Medium Oblique';
    src: url('./Fonts/GTWalsheimPro-CondensedMediumOblique.eot');
    src: local('./Fonts/GT Walsheim Pro Condensed Medium Oblique'), local('./Fonts/GTWalsheimPro-CondensedMediumOblique'),
        url('./Fonts/GTWalsheimPro-CondensedMediumOblique.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-CondensedMediumOblique.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-CondensedMediumOblique.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-CondensedMediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed Black';
    src: url('./Fonts/GTWalsheimPro-CondensedBlack.eot');
    src: local('./Fonts/GT Walsheim Pro Condensed Black'), local('./Fonts/GTWalsheimPro-CondensedBlack'),
        url('./Fonts/GTWalsheimPro-CondensedBlack.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/GTWalsheimPro-CondensedBlack.woff2') format('woff2'),
        url('./Fonts/GTWalsheimPro-CondensedBlack.woff') format('woff'),
        url('./Fonts/GTWalsheimPro-CondensedBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/** testing font stuff */
